@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
/* this is a css file*/

/* syntax
selector {property:value;
property:value;}*/


p{ font-size: 16px;
  line-height: 1.5em;
}

figcaption{font: normal 0.75em/1.5em,
color: blue;
text-align: right;
}
.milk-text{
  font:  bold 2.6em 'Clicker Script', cursive;
}
#logo {background-color: aqua;}

#logo h1 {background-color: black;
font-family: serif;}

#details a:link {color:black;
text-decoration: none;}

#details a:hover {color: blue;}
