/* Comment Practice */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

p {
  font-size: 1em;
  line-height: 1.5em; 
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: "Dancing Script", cursive;
  color: grey;
  text-align: right;
}